.page-header {
  
    padding: calc(2rem + 3vh) 0;
    text-align: center;
    color:#7f7f7f;
    width: max-content;
    height: max-content;
  
  
    
  
   


    img {
        max-width: 250px;
        
    }

    
   
    h1 {  
        font-size: 4rem;
        line-height: 0; 
        margin-top:1rem;
        margin-bottom:2rem;
    }
    p{
        font-size: 1.125rem;
       
    }
   
}

 
 
    
    
 